/*GENERAL*/

* {
	box-sizing: border-box;
	color: #fff;
	font-family: "Roboto Mono";
	font-weight: 400;
}

*::-webkit-scrollbar { 
    display: none; 
}

body {
	background-color: #111;
	font-size: 38px;
}

/*WINDOWS*/

.bar-item {
	background-color: #111;
	padding: 20px;
	border-bottom: 4px solid #fff;
	height: 87px;
}

#top-item {
	background-color: #fff;
}

#relay {
	color: #000;
}

#windows {
	width: 100%;
	height: calc(100vh - (87px + 87px + 87px + 87px));
}

#action,
#hack,
#chat {
	width: 100%;
	background-color: #111;
	padding: 20px;
	border-bottom: 4px solid #fff;
}

#action {
	height: 20%;
}

#hack {
	height: 50%;
}

#chat {
	height: 30%;
	overflow: auto;
	margin-bottom: 0;
}

/*INPUT*/

#cli {
	width: 100%;
	height: 87px;
	padding: 20px;
	background-color: #111;
}

#cli-text {
	width: 90%;
	font-family: "Roboto Mono";
	line-height: normal;
	background-color: #111;
	border: none;
	font-size: 32px;
}

#cli-text:focus {
	outline: none;
}

#cli-symbol {
	font-size: 32px;
	margin-right: 12px;
}

/*WINDOW CONTENTS*/

.message-local,
.message-foreign {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	font-size: 32px;
}

.message-local {
	position: relative;
	right: 0;
	text-align: right;
}

.message-user {
	display: block;
	width: 100%;
	font-weight: 600;
	margin-bottom: 5px;
}

.message-text {
	font-weight: 400;
}